*.cache
*.settings
.project
.buildpath
*.db
# to stop git from tracking changes to recess-conf.php also execute this cmd:
# git update-index --assume-unchanged recess-conf.php
recess-conf.php
recess/temp/compiled/*
recess/temp/*.*
apps/*
!apps/welcome
